/* VARIABLES & MIXINS =========================*/

@dkcoral: #9E595A;              /* rgb(158, 89, 90) */
@coral: #FF9796;                /* rgb(255, 151, 150) */
@section-grey: #F1F0EE;         /* rgb(241, 240, 238) */
@first-font: #998565;           /* rgb(153, 133, 101) */
@first-bg: #D6C6AF;             /* rgb(214, 198, 175) */
@dkgrey: #666666;               /* rgb(102, 102, 102) */
@grey-headers: #7A7A7A;         /* rgb(122, 122, 122) */
@grey-header-sm: #8F8F8F;       /* rgb(143, 143, 143) */
@grey-font: #999999;            /* rgb(153, 153, 153) */
@details-font: #DDDDDD;         /* rgb(221, 221, 221) */
@details-header-sm: #EEEEEE;    /* rgb(238, 238, 238) */
@white-font: #FFFFFF;           /* rgb(255, 255, 255) */



/* MISC ELEMENTS ========================= */

h1, h2, h3, h4 {
 text-transform: uppercase; 
 font-family: Tahoma, sans-serif;
 letter-spacing: .15em;
}

p {
 font-family: Georgia, serif;
 line-height: 1.5em;
}


/* SECTIONS ========================= */

body {
 margin: 0;
 padding: 0;
}

#wrapper {
 margin: 0;
 padding: 0;
}

 header {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  h1, h2 {
   color: @white-font;
   text-align: center;
  }
  h1 {
   font-size: 3.5em;   
  }
  h2 {
   font-weight: 400;
  }
}


#the-couple, #wedding-party, #trivia, footer {
  background-color: @section-grey;
  h1 {
   color: @grey-headers;
  }
  h2 {
   color: @grey-headers; 
  }
  h3 {
   color: @grey-header-sm; 
   font-weight: 400;
  }
  p {
   color: @grey-font;
  }
  .first {
    h3, p {
     color: @first-font; 
    }
  }
}

#details, #registries {
  background-color: @grey-font;
  h2 {
   color: @white-font; 
  }
  h3 {
   color: @details-header-sm; 
   font-weight: 400;
  }
  p {
   color: @details-font;
  }
}





#the-couple {
 

 #courtney {
  text-align: left;
 }
 #andrew {
  text-align: right;
 }
 #love {
  padding: 0 5%;
  text-align: right;
 }
}

/*
#details {
  @dark-grey-sections;
}


#wedding-party {
  
}


#registries {
  
}


#trivia {
  
}


#gallery {

}


footer {
 
} */
