/* VARIABLES & MIXINS =========================*/
/* rgb(158, 89, 90) */
/* rgb(255, 151, 150) */
/* rgb(241, 240, 238) */
/* rgb(153, 133, 101) */
/* rgb(214, 198, 175) */
/* rgb(102, 102, 102) */
/* rgb(122, 122, 122) */
/* rgb(143, 143, 143) */
/* rgb(153, 153, 153) */
/* rgb(221, 221, 221) */
/* rgb(238, 238, 238) */
/* rgb(255, 255, 255) */
/* MISC ELEMENTS ========================= */
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-family: Tahoma, sans-serif;
  letter-spacing: .15em;
}
p {
  font-family: Georgia, serif;
  line-height: 1.5em;
}
/* SECTIONS ========================= */
body {
  margin: 0;
  padding: 0;
}
#wrapper {
  margin: 0;
  padding: 0;
}
header {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header h1,
header h2 {
  color: #FFFFFF;
  text-align: center;
}
header h1 {
  font-size: 3.5em;
}
header h2 {
  font-weight: 400;
}
#the-couple,
#wedding-party,
#trivia,
footer {
  background-color: #F1F0EE;
}
#the-couple h1,
#wedding-party h1,
#trivia h1,
footer h1 {
  color: #7A7A7A;
}
#the-couple h2,
#wedding-party h2,
#trivia h2,
footer h2 {
  color: #7A7A7A;
}
#the-couple h3,
#wedding-party h3,
#trivia h3,
footer h3 {
  color: #8F8F8F;
  font-weight: 400;
}
#the-couple p,
#wedding-party p,
#trivia p,
footer p {
  color: #999999;
}
#the-couple .first h3,
#wedding-party .first h3,
#trivia .first h3,
footer .first h3,
#the-couple .first p,
#wedding-party .first p,
#trivia .first p,
footer .first p {
  color: #998565;
}
#details,
#registries {
  background-color: #999999;
}
#details h2,
#registries h2 {
  color: #FFFFFF;
}
#details h3,
#registries h3 {
  color: #EEEEEE;
  font-weight: 400;
}
#details p,
#registries p {
  color: #DDDDDD;
}
#the-couple {
  width: 100%;
}
#the-couple #courtney {
  display: inline-block;
  width: 50%;
  /*   float: left; */
  padding-left: 10%;
  text-align: right;
}
#the-couple #andrew {
  display: inline-block;
  width: 50%;
  /*   float: right; */
  padding-right: 10%;
  text-align: left;
}
#the-couple #love {
  padding: 0 20%;
  text-align: left;
}
/*
#details {
  @dark-grey-sections;
}


#wedding-party {
  
}


#registries {
  
}


#trivia {
  
}


#gallery {

}


footer {
 
} */
