/* VARIABLES & MIXINS =========================*/

@dkcoral: #9E595A;              /* rgb(158, 89, 90) */
@coral: #FF9796;                /* rgb(255, 151, 150) */
@section-grey: #F1F0EE;         /* rgb(241, 240, 238) */
@first-font: #998565;           /* rgb(153, 133, 101) */
@first-bg: #D6C6AF;             /* rgb(214, 198, 175) */
@dkgrey: #666666;               /* rgb(102, 102, 102) */
@grey-headers: #7A7A7A;         /* rgb(122, 122, 122) */
@grey-header-sm: #8F8F8F;       /* rgb(143, 143, 143) */
@grey-font: #999999;            /* rgb(153, 153, 153) */
@details-font: #DDDDDD;         /* rgb(221, 221, 221) */
@details-header-sm: #EEEEEE;    /* rgb(238, 238, 238) */
@white-font: #FFFFFF;           /* rgb(255, 255, 255) */



/* MISC ELEMENTS ========================= */

h1, h2, h3, h4 {
 text-transform: uppercase; 
 font-family: Tahoma, sans-serif;
 letter-spacing: .15em;
}

h3 {
 font-weight: 300; 
}

p {
 font-family: Georgia, serif;
 line-height: 1.5em;
}

.clear {
 clear: both;
}

.details-img {
 text-align: center;
}

/* SECTIONS ========================= */

body {
 margin: 0;
 padding: 0;
}

#wrapper {
 margin: 0;
 padding: 0;
}

 header {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  h1, h2 {
   color: @white-font;
   text-align: center;
  }
  h1 {
   font-size: 3.5em;   
  }
  h2 {
   font-weight: 400;
  }
}


#the-couple, #true-love, #wedding-party, #trivia, footer {
  background-color: @section-grey;
  h1 {
   color: @grey-headers;
  }
  h2 {
   color: @grey-headers; 
  }
  h3 {
   color: @grey-header-sm; 
  }
  p {
   color: @grey-font;
  }
  .first {
    h3, p {
     color: @first-font; 
    }
  }
}

#details, #registries {
  background-color: @grey-font;
  h2 {
   color: @white-font; 
  }
  h3 {
   color: @details-header-sm; 
  }
  p {
   color: @details-font;
  }
}



#the-couple {
 width: 100%;
 #courtney {  
  display: inline-block;
  width: 38.5%;
  float: left;
  padding-left: 10%;
  margin-right: 1.5%;
  text-align: right;
 }
 #andrew {  
  display: inline-block;
  width: 38.5%;
  float: right;
  padding-right: 10%;
  margin-left: 1.5%;
  text-align: left;
 }
}



#true-love {
 #heart {
   text-align: center;
   padding-top: 5%;
 }
  #love {
   padding: 0 20%;
   text-align: left;
   h2, h3 {
    text-align: center;
   }
  } 
}




#details {
 width: 100%;
 padding: 5% 0;
 h2, h3 {
  text-align: center;
 }
 #ceremony {
  display: inline-block;
  width: 28%;
  padding: 0 3% 0 8%;
  float: left;
 }
 #cocktails {
  display: inline-block;
  width: 28%;
  padding: 0 1.5%;
  float: left;
 }
 #reception {
  display: inline-block;
  width: 28%;
  padding: 0 8% 0 3%;
  float: left;
 }
 #accommodations {
  clear: both;
 }
}






/*
#wedding-party {
  
}


#registries {
  
}


#trivia {
  
}


#gallery {

}


footer {
 
} */
