/* VARIABLES & MIXINS =========================*/

@dkcoral: #9E595A;              /* rgb(158, 89, 90) */
@coral: #FF9796;                /* rgb(255, 151, 150) */
@section-grey: #F1F0EE;         /* rgb(241, 240, 238) */
@first-font: #998565;           /* rgb(153, 133, 101) */
@first-bg: #D6C6AF;             /* rgb(214, 198, 175) */
@dkgrey: #666666;               /* rgb(102, 102, 102) */
@grey-headers: #7A7A7A;         /* rgb(122, 122, 122) */
@grey-header-sm: #8F8F8F;       /* rgb(143, 143, 143) */
@grey-font: #999999;            /* rgb(153, 153, 153) */
@details-font: #DDDDDD;         /* rgb(221, 221, 221) */
@details-header-sm: #EEEEEE;    /* rgb(238, 238, 238) */
@white-font: #FFFFFF;           /* rgb(255, 255, 255) */



/* MISC ELEMENTS ========================= */

h1, h2, h3, h4 {
 text-transform: uppercase; 
 font-family: Tahoma, sans-serif;
 letter-spacing: .15em;
 margin: 0;
 padding-bottom: 2%;
}

h3 {
 font-weight: 300; 
}

p {
 font-family: Georgia, serif;
 line-height: 1.5em;
}

.clear {
 clear: both;
}

.details-img {
 text-align: center;
}

/* SECTIONS ========================= */

body {
 margin: 0;
 padding: 0;
 background-color: @section-grey;
}

#wrapper {
 margin: 0;
 padding: 0;
}

 header {
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: @coral;
  padding: 10%;
  text-align: center;
  img {
   padding-bottom: 5%;
   margin-bottom: 15%;
  }
  h1, h2 {
   color: @white-font;
  }
  h1 {
   font-size: 3.5em;  
   margin-bottom: 0;
  }
  h2 {
   font-weight: 400;
  }
}


#the-couple, #courtney, #andrew, #true-love, #wedding-party, #trivia, footer {
/*   background-color: @section-grey; */
  h1 {
   color: @grey-headers;
  }
  h2 {
   color: @grey-headers; 
   font-size: 1.25em;
  }
  h3 {
   color: @grey-header-sm; 
   font-size: .95em;
  }
  p {
   color: @grey-font;
   font-size: .95em;
  }
}

#details, #registries {
  background-color: @grey-font;
  h2 {
   color: @white-font; 
  }
  h3 {
   color: @details-header-sm; 
  }
  p {
   color: @details-font;
  }
}



#the-couple {
 width: 100%;
 padding-top: 7%;
/*  h2, h3 {
  padding-bottom: 2%;
 } */
 #courtney {  
  display: inline-block;
  width: 38.5%;
  float: left;
  padding-left: 10%;
  padding-right: 1.5%;
  text-align: right;
 }
 #andrew {  
  display: inline-block;
  width: 38.5%;
  float: right;
  padding-right: 10%;
  padding-left: 1.5%;
  text-align: left;
 }
}



#true-love {
 padding-bottom: 5%;
 #heart {
   text-align: center;
   padding-top: 5%;
 }
  #love {
   padding: 0 20%;
   text-align: left;
   h2, h3 {
    text-align: center;
   }
  } 
}




#details {
 width: 100%;
 padding: 7% 0;
 h2, h3 {
  text-align: center;
  padding-bottom: 2%;
 }
 #ceremony {
  display: inline-block;
  width: 25%;
  padding: 0 3% 0 8%;
  float: left;
 }
 #cocktails {
  display: inline-block;
  width: 25%;
  padding: 0 1.5%;
  float: left;
 }
 #reception {
  display: inline-block;
  width: 25%;
  padding: 0 8% 0 3%;
  float: left;
 }
 #accommodations {
  clear: both;
  padding: 3% 8% 0 8%;
 }
}




#wedding-party {
 padding: 7% 0;
 h1 {
  text-align: center;
 }
 h3 {
  text-align: center;
 }
 #bridesmaids {
  padding: 2% 5%;
 }
 #groomsmen {
  padding: 2% 5%;
  clear: both;
 }
 #ushers {
  padding: 2% 25%;
  clear: both;
 }
 .first {
   background-color: @first-bg;
   color: @first-font;
 }  
 .person {
  display: inline-block;
  width: 20%;
  padding: 2%;
  float: left;
 }
 .person2 {
  display: inline-block;
  width: 30%;
  padding: 2% 10%;
  float: left;
 }
}





#registries {
 clear: both;
 padding: 7% 10%;
 text-align: center;
 registry-info {
  padding: 2% 0 5% 0;
  width: 60%;
  margin: 0 auto;
  font-size: 1.2em;
 }
 #logos {
  padding: 0 10%;
  a {
   padding: 2%;
   width: 25%;
   #kohls {
    padding-right: 10%;
   }
   #macys {
    padding-left: 10%;
   }
  }
 }
}

/*
#trivia {
  
}


#gallery {

}
*/

footer {
 margin: 0;
 padding: 1%;
 text-align: center;
} 
