/* VARIABLES & MIXINS =========================*/
/* rgb(158, 89, 90) */
/* rgb(255, 151, 150) */
/* rgb(241, 240, 238) */
/* rgb(153, 133, 101) */
/* rgb(214, 198, 175) */
/* rgb(102, 102, 102) */
/* rgb(122, 122, 122) */
/* rgb(143, 143, 143) */
/* rgb(153, 153, 153) */
/* rgb(221, 221, 221) */
/* rgb(238, 238, 238) */
/* rgb(255, 255, 255) */
/* MISC ELEMENTS ========================= */
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-family: Tahoma, sans-serif;
  letter-spacing: .15em;
  margin: 0;
}
h3 {
  font-weight: 300;
}
p {
  font-family: Georgia, serif;
  line-height: 1.5em;
}
.clear {
  clear: both;
}
.details-img {
  text-align: center;
}
/* SECTIONS ========================= */
body {
  margin: 0;
  padding: 0;
}
#wrapper {
  margin: 0;
  padding: 0;
}
header {
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: #FF9796;
  padding: 10%;
  text-align: center;
}
header img {
  padding-bottom: 5%;
  margin-bottom: 15%;
}
header h1,
header h2 {
  color: #FFFFFF;
}
header h1 {
  font-size: 3.5em;
  margin-bottom: 0;
}
header h2 {
  font-weight: 400;
}
#the-couple,
#courtney,
#andrew,
#true-love,
#wedding-party,
#trivia,
footer {
  background-color: #F1F0EE;
}
#the-couple h1,
#courtney h1,
#andrew h1,
#true-love h1,
#wedding-party h1,
#trivia h1,
footer h1 {
  color: #7A7A7A;
}
#the-couple h2,
#courtney h2,
#andrew h2,
#true-love h2,
#wedding-party h2,
#trivia h2,
footer h2 {
  color: #7A7A7A;
}
#the-couple h3,
#courtney h3,
#andrew h3,
#true-love h3,
#wedding-party h3,
#trivia h3,
footer h3 {
  color: #8F8F8F;
}
#the-couple p,
#courtney p,
#andrew p,
#true-love p,
#wedding-party p,
#trivia p,
footer p {
  color: #999999;
}
#the-couple .first h3,
#courtney .first h3,
#andrew .first h3,
#true-love .first h3,
#wedding-party .first h3,
#trivia .first h3,
footer .first h3,
#the-couple .first p,
#courtney .first p,
#andrew .first p,
#true-love .first p,
#wedding-party .first p,
#trivia .first p,
footer .first p {
  color: #998565;
}
#details,
#registries {
  background-color: #999999;
}
#details h2,
#registries h2 {
  color: #FFFFFF;
}
#details h3,
#registries h3 {
  color: #EEEEEE;
}
#details p,
#registries p {
  color: #DDDDDD;
}
#the-couple {
  width: 100%;
}
#the-couple #courtney {
  display: inline-block;
  width: 38.5%;
  float: left;
  padding-left: 10%;
  padding-right: 1.5%;
  text-align: right;
}
#the-couple #andrew {
  display: inline-block;
  width: 38.5%;
  float: right;
  padding-right: 10%;
  padding-left: 1.5%;
  text-align: left;
}
#true-love {
  padding-bottom: 5%;
}
#true-love #heart {
  text-align: center;
  padding-top: 5%;
}
#true-love #love {
  padding: 0 20%;
  text-align: left;
}
#true-love #love h2,
#true-love #love h3 {
  text-align: center;
}
#details {
  width: 100%;
  padding: 5% 0;
}
#details h2,
#details h3 {
  text-align: center;
  padding-bottom: 2%;
}
#details #ceremony {
  display: inline-block;
  width: 25%;
  padding: 0 3% 0 8%;
  float: left;
}
#details #cocktails {
  display: inline-block;
  width: 25%;
  padding: 0 1.5%;
  float: left;
}
#details #reception {
  display: inline-block;
  width: 25%;
  padding: 0 8% 0 3%;
  float: left;
}
#details #accommodations {
  clear: both;
  padding: 3% 8% 0 8%;
}
#wedding-party {
  padding: 5% 0;
}
#wedding-party h1 {
  text-align: center;
}
#wedding-party h3 {
  text-align: center;
}
#wedding-party #bridesmaids {
  padding: 2% 5%;
}
#wedding-party #groomsmen {
  padding: 2% 5%;
  clear: both;
}
#wedding-party #ushers {
  padding: 2% 15%;
  clear: both;
}
#wedding-party .first {
  background-color: #D6C6AF;
  color: #998565;
}
#wedding-party .person {
  display: inline-block;
  width: 20%;
  padding: 2%;
  float: left;
}
#registries {
  clear: both;
  padding: 5% 10%;
}
#registries #logos {
  padding: 0 10%;
}
#registries #logos a {
  padding: 2%;
  width: 25%;
}
#registries #logos a #macys {
  padding-left: 10%;
}
/*
#trivia {
  
}


#gallery {

}


footer {
 
} */
